.leftbar{
    background-color: #ffffff;
    padding: 17px 40px 10px 19px;
}

.block{
    width: 195px;
    padding-top: 15px;
}

.square{
    width: auto;
    height: 164px;
    background-color: rgba(1,84,254,0.04);
}

.fs-14{
    font-size: 14px;
}

.title{
    font-style: bold;
    font-size: 18px;
    font-weight: 20px;
}

.describe{
    margin-bottom: 10px;
}